@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p style="text-align:center">Caffeine Tracker is a website to help you track your caffeine consumption.&nbsp;</p>
    <p style="text-align:center">It comes with data on common beverages, allows you to customize your input and generates a handy daily report!</p>
</div>
